*.m~
*.txt~
.gitignore~
+lib/*
.DS_Store
*.conf~
*.md~

/ImagesCollector/config/config.conf
/ImagesCollector/.project
/ImagesCollector/.pydevproject

/libsvm
/vlfeat
/matconvnet
/dlib
/vgg_face_matconvnet
